{% extends "page_base.html" %}

{% block way %}
    <li><a href="/">Главная</a></li>
    <li>&nbsp;> Наши приемущества</li>
{% endblock %}

{% block text %}
    <div>
        <h1>Наши Приемущества</h1>
    </div>
    <div style="margin-top:30px;font-size:16px;color:#4f5354;">
        Мы успешно сотрудничаем с ТОП-25 компаниями. Именно здесь вы получите самые лучшие условия!
        <p></p>
        За многие годы у нас накоплен бесценный опыт работ. Ни свободные агенты, ни представители страховой компании не будут отстаивать ваши интересы. А для нас – это главная задача. Купите полис у нас и будьте уверены в том, что узнаете:
        <p></p>
        <ul style="margin-left:20px;">
            <li>Обо всех изменениях в вашей страховой компании;</li>
            <li>О том, что полис нужно продлить;</li>
            <li>Как обратиться за выплатой.</li>
        </ul>
        <p></p>
        <p class="bold f16">Юридическая помощь</p>
        При наступлении страхового случая, в случае необходимости, мы готовы предоставить Вам помощь. Вы получите самое важное – информационную, юридическую и моральную поддержку. Вместо того, чтобы тратить ваши нервы и время, позвольте нам собрать необходимые документы, урегулировать разногласия со страховой компанией, отстоять сумму и сроки выплаты.
        <p></p>
        <p class="bold f16">Скидки на АвтоКАСКО</p>
        Вы будете удивлены, узнав, какие скидки мы предлагаем своим клиентам! Полис может обойтись дешевле, чем в самой страховой компании! И это лишь начало нашего сотрудничества. Нашим постоянным клиентам доступны особые условия страхования.
        <p></p>
        <p class="bold f16">Заказать полис по телефону</p>
        Позвоните по телефону +7 968 616-6574 и сообщите нам, что именно вы хотите застраховать. Вы получите рекомендации по выбору страховой компании и выгодным условиям заключения договора.
        <p></p>
        <p class="bold f16">Полис – с доставкой прямо в руки!</p>
        Вы сэкономите время, если выберете доставку купленного полиса в любую точку Москвы. Доставка готового страхового договора займет всего пару часов.
        <p></p>
        <p class="bold f16">Более 25 надежных компаний-партнеров</p>
        Нашими партнёрами являются самые надёжные и уважаемые страховые компании России. Вместе мы ставим во главу угла оптимальное решение вопросов наших клиентов и гарантируем им помощь и финансовую защиту в любой ситуации.
        <div class="clear"></div>
    </div>

{% endblock %}