<!DOCTYPE html>

<html>
    <head lang="ru-RU">
        <link rel="stylesheet" type="text/css" media="all" href="//finist.ru/css/styles.css">

        <meta charset="utf-8">
        <title>Страховые консультации</title>

		<meta name="keywords" content="страховой брокер в москве, брокер страховых компаний, страховая компания брокер">
		<meta name="description" content="Сайт для тех кто ищет надежного страхового брокера в России.">
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="robots" content="index, follow" />
		<meta name="viewport" content="width=1200">

        {% block head %}{% endblock %}
    </head>
    <body>

	    <!-- BEGIN HEADER -->
	    <header id="header">
		    <div style="margin:20px 40px 0px 40px;">
		    	<div class="left">
		    		<a style="text-decoration:none" href="/" class="block"><img src="/static/logo.png"></a>
		    	</div>
                <div id="phone_container" class="right">
				    <div id="phone">+7 968 616-6574</div>
			    </div>
            </div>
	    </header>
	    <!-- END HEADER -->

	    <!-- BEGIN TOP MENU -->
	    <div id="menu_container">
		    <div id="menu_block">

                <div style="margin:0px 40px 0px 40px;">
                    <div class="left">
                        <ul id="menu">
                            <li class="menu_section dropdown">
                                <a class="bold">Частным клиентам</a>
                                <ul>
                                    <li>
                                        <div><a href="kasko">КАСКО</a></div>
                                        <div><a href="osago">ОСАГО</a></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu_section dropdown">
                                <a class="bold">Корпоративным клиентам</a>
                                <ul>
                                    <li>
                                        <div><a href="property">Страхование имущества</a></div>
                                        <div><a href="smr">Страхование СМР</a></div>
                                        <div><a href="cargo">Страхование грузов</a></div>
                                        <div><a href="dms">Медицинское страхование (ДМС)</a></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu_section dropdown_noarrow"><a href="feedback" class="bold">Написать нам</a></li>
                            <li class="menu_section dropdown_noarrow"><a href="advantages" class="bold">Наши преимущества</a></li>
                            <li class="menu_section dropdown_noarrow"><a href="requisites" class="bold">Реквизиты</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>

		    </div>
	    </div>
	    <!-- END TOP MENU -->

	    <div class="clear"></div>

        {% block body %}{% endblock %}

        <!-- BEGIN FREE SERVICES -->
        <div id="free_services">
            <div id="free_services_block">

            <div style="margin:35px 40px 0px 40px;">
                <div class="left free_services_left">
                    Наши услуги для вас бесплатны
                </div>
                <div class="right free_services_right">
                    Стоимость полиса - такая же, как в страховой компании, программу автострахования которой вы выберете. Комисионные, выплачиваемые нам страховой компанией, никак не влияют на стоимость полиса.
                </div>
            </div>

            </div>
        </div>
        <!-- END FREE SERVICES -->

        <div class="clear"></div>
        <!-- BEGIN FOOTER -->
        <div id="footer_container">
            <div id="footer_block">

            <div style="margin:0px 40px 0px 40px;">
                <div id="footer">
                    <ul>
                        <li class="left block" style="width:24%;height:100%;">
                            <ul>
                                <a href="requisites"><li class="bold" style="color:#373535;">Контакты</li></a>
                                <li>г. Москва</li>
                                <li>Тел.:+7 968 616-6574</li>
                            </ul>
                        </li>
                        <li class="left block" style="width:15%;height:100%;">
                            <ul>
                                <li class="bold" style="color:#373535;">Частным клиентам</li>
                                <li><a href="kasko">КАСКО</a></li>
                                <li><a href="osago">ОСАГО</a></li>
                            </ul>
                        </li>
                        <li class="left block" style="width:18%;height:100%;">
                            <ul>
                                <li class="bold">Корпоративным клиентам</li>
                                <li><a href="property">Страхование имущества</a></li>
                                <li><a href="smr">Страхование СМР</a></li>
                                <li><a href="cargo">Страхование грузов</a></li>
                                <li><a href="dms">Медицинское страхование (ДМС)</a></li>
                            </ul>
                        </li>
                        <li class="left block" style="width:15%;height:100%;">
                            <ul><a href="advantages"><li class="bold" style="color:#373535;">Наши приемущества</li></a></ul>
                        </li>
                        <li class="left block" style="width:15%;height:100%;">
                            <ul><a href="feedback"><li class="bold" style="color:#373535;">Насисать нам</li></a></ul>
                        </li>
                    </ul>
                </div>
            </div>

            </div>
        </div>
        <!-- END FOOTER -->

    </body>
</html>