{% extends "page_base.html" %}

{% block way %}
    <li><a href="/">Главная</a></li>
    <li>&nbsp;> Корпоративным клиентам</li>
    <li>&nbsp;> Страхование грузов</li>
{% endblock %}

{% block text %}
    <div>
        <h1>Страхование грузов</h1>
    </div>
    <div style="margin-top:30px;font-size:16px;color:#4f5354;">
        <p class="bold">Что нужно, чтобы застраховать грузоперевозку?</p>
        <p><p>
        Практически при каждой сделке с товарами требуется грузоперевозка. С точки зрения логики, на первом месте всегда стоят интересы владельца, затем расходы по перевозке и далее ожидаемая прибыль от реализации товара. Страхование грузов обеспечивает защиту от возможных убытков, которые могут возникнуть в результате повреждения или гибели товара при его перевозке.
        <p><p>
        <p class="bold">Мы предлагаем следующие продукты по страхованию грузов:</p>
        <ul style="margin-left:20px;">
            <li>Полис на разовую отправку. Оформляется на основании заявления на страхование. Используется в случаях разовых отправок различных видов грузов.</li>
            <li>Генеральный договор по страхованию грузов. Оформляется в случае регулярных перевозок по согласованным маршрутам или при перевозках однородных грузов. Генеральный полис страхования упрощает документооборот по страхованию грузов, а страхование распространяется на все декларируемые отгрузки. По генеральному полису предусмотрены различные варианты оплаты страховой премии.</li>
        </ul>
        <p><p>
        <p class="bold">Объект страхования:</p>
        <ul style="margin-left:20px;">
            <li>Груз, перевозимый любым видом транспорта из любой точки мира в любую точку мира.</li>
            <li>Транспортные расходы по доставке груза к месту назначения.</li>
            <li>Ожидаемую прибыль в размере не более 10% от страховой стоимости груза в соответствии с условиями ИНКОТЕРМС 2010.</li>
        </ul>
    </div>
    <div class="clear"></div>

{% endblock %}
