{% extends "page_base.html" %}

{% block way %}
    <li><a href="/">Главная</a></li>
    <li>&nbsp;> Корпоративным клиентам</li>
    <li>&nbsp;> Медицинское страхование (ДМС)</li>
{% endblock %}

{% block text %}
    <div>
        <h1>Медицинское страхование (ДМС)</h1>
    </div>
    <div style="margin-top:30px;font-size:16px;color:#4f5354;">
        О своём здоровье надо заботиться всегда! И про здоровье сотрудников вашей компании нельзя забывать, особенно когда на рынке труда неспокойно, а без полиса ДМС некоторые могут начать экономить на врачах. Добровольное медицинское страхование не только помогает поддерживать коллектив здоровым, но и повышает лояльность сотрудника к работодателю (намного больше, чем прибавка 5 тыс.руб. к зарплате) и даже помогает экономить на налогах.
        <p><p>
        <p class="bold">Как выбрать ДМС?</p>
        Благодаря программам ДМС мы можем обеспечить качественное медицинское обслуживание, как в повседневной жизни, так и в непредвиденных жизненных ситуациях, более чем в 300 лечебных учреждениях.
        <p><p>
        Если Вы не хотите разбираться в нюансах каждой программы, можете положиться на наш опыт, и мы выберем оптимальное предложение под ваши требования.
        <p><p>
        При желании, изучив коммерческие предложения от всех страховых компаний, Вы сами сможете выбрать оптимальную программу ДМС, которая наилучшим образом подойдёт по цене, набору услуг, расположению клиник и прочим параметрам.
        <p class="bold">Малому бизнесу и частным лицам:</p>
        Если Вы хотите для себя или небольшого коллектива подобрать лучший уровень, Вам подойдут vip-программы по ДМС:
        <p><p>
        <ul style="margin-left:20px;">
            <li>Лучшие клиники на ваш выбор;</li>
            <li>Меньше очередей;</li>
            <li>Возможность выбрать нужных специалистов, в том числе стоматологию</li>
            <li>Варианты под любой бюджет: обслуживаться по ДМС будет дешевле и удобнее, чем на платных условиях;</li>
        </ul>
        <p><p>
        <p class="bold">Среднему и крупному бизнесу:</p>
        Для компаний с большим числом сотрудников, как правило, стоимость полиса играет одну из ключевых ролей:
        <p><p>
        <ul style="margin-left:20px;">
            <li>Мы подберём оптимальные программы ДМС под ваш бюджет;</li>
            <li>При покупке большого числа полисов по стандарт-программам ДМС, вы получите несколько vip-полисов по той же стоимости для руководства;</li>
            <li>Экономия на налогах согласно п.16 ст.255 НК РФ, ст.213 НК РФ и ст.149 НК РФ</li>
            <li>Работаем с любыми нестандартными запросами;</li>
        </ul>
    </div>
    <div class="clear"></div>

{% endblock %}
