{% extends "page_base.html" %}

{% block way %}
    <li><a href="/">Главная</a></li>
    <li>&nbsp;> Написать нам</li>
{% endblock %}

{% block text %}
    <div>
        <h1>Написать нам</h1>
    </div>
    <p><p>
    <form action="/feedback" method="post">
        {% csrf_token %}
        <textarea class="comment_field" id="name" name="name" cols="120" rows="1" maxlength="100"
                  placeholder="Введите ваше имя" autofocus required></textarea><br>
        <textarea class="comment_field" id="mail" name="mail" cols="120" rows="1" maxlength="100"
                  placeholder="Введите ваш mail" required></textarea><br>
        <textarea class="comment_field" id="text" name="text" cols="120" rows="15" maxlength="1000000"
                  placeholder="Введите ваше сообщение" required></textarea><br>
        <input type="submit" value="Отправить">
    </form>
{% endblock %}