{% extends "base.html" %}

{% block body %}
<div id="pagewrap">
	<!-- BEGIN PROMO MAIN -->
	<div id="promo_main_container">
		<div id="promo_main_block">

		</div>
	</div>
	<!-- END PROMO MAIN -->



	<div class="clear"></div>

	<!-- BEGIN BENEFITS -->
	<div id="benefits">
	<div style="margin:35px 40px 0px 40px;">
		<div id="benefits_head">Преимущества работы с нами</div>
		<ul>
			<li class="left block" style="width:15%;">
				<a href="underdev">
					<div class="benefits_1">
						<div class="bold benefits_name">Скидки от страховой компании</div>
					</div>
				</a>
			</li>
			<li class="left block" style="width:2%;">
				<div class="benefits_line"></div>
			</li>
			<li class="left block" style="width:30%;">
				<a href="underdev">
					<div class="benefits_2">
						<div class="bold benefits_name">Юридическая помощь</div>
						<div class="benefits_descr">При наступлении страхового случая на помощь придут сотрудники компании Финист. Вы получите самое важное - информационную, юридическую и моральную поддержку.</div>
					</div>
				</a>
			</li>
			<li class="left block" style="width:2%;">
				<div class="benefits_line"></div>
			</li>
			<li class="left block" style="width:15%;">
				<a href="underdev">
					<div class="benefits_3">
						<div class="bold benefits_name">Более 25 надежных компаний-партнеров</div>
					</div>
				</a>
			</li>
			<li class="left block" style="width:2%;">
				<div class="benefits_line"></div>
			</li>
			<li class="left block" style="width:15%;">
				<a href="underdev">
					<div class="benefits_4">
						<div class="bold benefits_name">Бесплатная доставка</div>
					</div>
				</a>
			</li>

		</ul>
	</div>
	</div>
	<!-- END BENEFITS -->

	<div class="clear"></div>


{% endblock %}
