{% extends "page_base.html" %}

{% block way %}
    <li><a href="/">Главная</a></li>
    <li>&nbsp;> Частным клиентам</li>
    <li>&nbsp;> ОСАГО</li>
{% endblock %}

{% block text %}
    <div>
        <h1>ОCАГО с бесплатной доставкой по Москве и ряда городов Московской области!</h1>
    </div>
    <div style="margin-top:30px;font-size:16px;color:#4f5354;">
        <p style="margin:20px 0px 0px 0px;">Если Вы хотите приобрести полис страховой компании из ТОР 25, обращайтесь за помощью к нам по телефону +7 968 616-6574.</p>
        <p>Мы поможем Вам купить полис ОСАГО в одной из самых надежных страховых и проконсультирует по всем сопутствующим вопросам.</p>
        <p>Мы осуществляем доставку в офис и на дом. Оформление не займет много времени.</p>
        <p><span style="text-decoration: underline;">Для оформления нужны оригиналы документов!</span></p>
        <p>Для физических лиц-это паспорт, водительские удостоверения допущенных к управлению лиц и свидетельство о регистрации автомобиля (ПТС или СТС).</p>
        <p>Для юридических лиц нужно также свидетельство о регистрации юридического лица.</p>
        <p>Звоните нам и Вы получите ОСАГО в кратчайшие сроки!</p>
    </div>
    <div class="clear"></div>

{% endblock %}