{% extends "page_base.html" %}

{% block way %}
    <li><a href="/">Главная</a></li>
    <li>&nbsp;> Корпоративным клиентам</li>
    <li>&nbsp;> Страхование имущества</li>
{% endblock %}

{% block text %}
    <div>
        <h1>Страхование имущества</h1>
    </div>
    <div style="margin-top:30px;font-size:16px;color:#4f5354;">
        Основной актив компании любой формы собственности – это ее имущество (складские и производственные помещения, офис, торговый центр, оборудование, транспортные средства и прочее). Вне зависимости от способа ведения бизнеса имущество постоянно подвергается рискам порчи, повреждений, уничтожения (частичного или полного). В результате собственник или арендатор несет прямые и косвенные потери, вынужден расходовать финансы на восстановление или закупку утраченных материальных средств. Это не только подрывает бюджет, но и может послужить причиной банкротства.
        <p><p>
        <p class="bold">Наши отличия:</p>
        <ul style="margin-left:20px;">
            <li>Возможность выбора условий страхования:</li>
            <li>Возможность самостоятельно выбирать страховые риски, включать дополнительные риски;</li>
            <li>Возможность выбирать порядок уплаты страховой премии (премия может быть уплачена в рассрочку без увеличения стоимости страхования);</li>
            <li>Возможность выбора варианта расчета суммы страхового возмещения;</li>
            <li>Возможность выбора размера безусловной франшизы по любым страховым рискам по любому имуществу или заключения договора без франшизы.</li>
            <li>Широкий перечень категорий страхуемого имущества, включая имущество, переданное (принятое) в залог, лизинг, аренду.</li>
            <li>Возможность заключения договора без предоставления документов, подтверждающих действительную (страховую) стоимость.</li>
        </ul>
        <p><p>
            Страхование имущества, конечно, не отведет прямую угрозу, но минимизирует потери и позволит быстро восстановить ущерб.
        <p><p>
        <p class="bold">Мы осуществляем страхование:</p>
        <ul style="margin-left:20px;">
            <li>Предприятий и организаций различных сфер деятельности (в т.ч. страхование торговых центров, промышленных предприятий, развлекательных центров, офисных центров, домов отдыха, гостиниц, складов и др.);</li>
            <li>Земельных участков;</li>
            <li>Зданий и сооружений;</li>
            <li>Внутренней отделки, мебели, предметов интерьера;</li>
            <li>Стекол, зеркал, витрин, рекламных установок;</li>
            <li>Средств наружной рекламы, а также имущества, находящегося на внешней стороне здания;</li>
            <li>Товарно-материальных ценностей (товаров в обороте, материалов, сырья);</li>
            <li>Наличных денежных средств;</li>
            <li>Транспортных средств в стадии хранения;</li>
            <li>Машин и оборудования (в т.ч. компьютеров и оргтехники);</li>
            <li>Передвижного оборудования;</li>
            <li>Продуктов (товаров), хранящихся в холодильных камерах;</li>
            <li>Объектов, относящихся к фильмофонду, сценическим и постановочным средствам;</li>
            <li>На случай убытков от перерыва в производственной деятельности;</li>
            <li>На случай убытков от потери арендной платы.</li>
        </ul>
        <p><p>
            Мы гарантируем подбор оптимальной программы защиты имущества от непредвиденных ситуаций. Это залог вашего спокойствия и уверенности в завтрашнем дне в любых обстоятельствах.
        <p><p>
        <p class="bold">Обеспечиваем защиту от следующих рисков:</p>
        <ul style="margin-left:20px;">
            <li>Пожар, удар молнии, взрыв;</li>
            <li>Воздействие пара, конденсата и / или жидкости;</li>
            <li>Взаимодействие с другими объектами (предметами) или животными;</li>
            <li>Противоправные действия третьих лиц;</li>
            <li>Хищение (кража, грабеж, разбой, мошенничество, присвоение или растрата);</li>
            <li>Бой стекол зеркал, витрин по любой причине;</li>
            <li>Воздействие опасных природных явлений;</li>
            <li>Осадка, смещения грунта, или горной породы;</li>
            <li>Отказ в работе технического устройства, используемого для защиты, обработки, переработки, хранения и / или транспортировки застрахованного имущества;</li>
            <li>Террористические действия (акты);</li>
            <li>Колебания параметров коммуникационной сети, повлекшие внутреннее возгорание оборудования (в случае страхования оборудования, компьютеров и оргтехники);</li>
            <li>Аварии транспортного средства, перемещающего застрахованное имущество;</li>
            <li>Поломка машин, механизмов (расширенный перечень страховых рисков);</li>
            <li>Порча продуктов (товаров), хранящихся в холодильных камерах;</li>
            <li>Вынужденная остановка производственного цикла.</li>
        </ul>
    </div>
    <div class="clear"></div>

{% endblock %}
