{% extends "page_base.html" %}

{% block way %}
    <li><a href="/">Главная</a></li>
    <li>&nbsp;> Корпоративным клиентам</li>
    <li>&nbsp;> Страхование СМР</li>
{% endblock %}

{% block text %}
    <div>
        <h1>Страхование СМР</h1>
    </div>
    <div style="margin-top:30px;font-size:16px;color:#4f5354;">
        Строительство является одним из самых сложных и рискованных видов производства. Здесь регулярно возникают неожиданности и случайности (поломка техники, аварийные ситуации, гибель материалов, просчеты проектировщиков), ведущие к финансовым потерям и убыткам строительных компаний.
        <p><p>
        Несмотря на то, что государством предусмотрена гражданская ответственность при проведении строительно-монтажных работ (СМР), она не покрывает убытков собственно строительной компании при проведении СМР.
        <p><p>
        Мы предлагаем страхование любых рисков СМР, которые могут возникнуть в процессе проведения работ!
        <p><p>
        <p class="bold">Почему выгоднее обратиться к нам, чем в любую из страховых компаний?</p>
        <ul style="margin-left:20px;">
            <li>Мы много лет работаем на рынке страховых услуг и имеем опыт работы со всеми крупными страховыми компаниями РФ. Мы знаем для каких проектов будут более низкие тарифы, а где более беспроблемные выплаты. Мы готовы поделиться с вами этим опытом бесплатно! Вы ничего дополнительно не платите за наши услуги, так как мы получаем комиссионное вознаграждение от страховой компании.</li>
            <li>Вы экономите время и деньги, так как получаете от нас расчёт сразу по всем актуальным предложениям на рынке страховых услуг. Вам не нужно обращаться в каждую страховую и запрашивать у них коммерческое предложение. Для подписания необходимых документов мы можем выслать курьера, а в процессе выбора оперативно предоставлять все документы онлайн.</li>
            <li>С нами удобно! Если помимо строительных рисков у вас есть потребность в других видах корпоративного страхования (полисы ОМС/ДМС, ОСАГО и Каско для корпоративной техники, прочие риски бизнеса), мы подберём для вас самые выгодные варианты на каждую задачу (при этом не обязательно покупать все услуги в одной страховой компании, мы посоветуем лучшие условия в каждом случае).</li>
        </ul>
    </div>
    <div class="clear"></div>

{% endblock %}
